{% extends 'layout.html'%}
{% block recommend %}
    <div id="wrapper">
            <!-- <section id="map">
                <h1>The map will go here</h1>
            </section> -->
            <br/>
            <aside id="sidebar">
                <form action='/demo/predict' method='post'>
                    <select id="choice" name='choice'>
                        <option value='PKEzKWv_FktMm2mGPjwd0Q'>Norm</option>
                        <option value='bLbSNkLggFnqwNNzzq-Ijw'>Stefany</option>
                        <option value='9ks-80ZxeCZWNObzEbW4-Q'>Cynthia</option>
                        <option value='F_N4NyoMJWzBYFspeYfH3A'>Mike</option>
                        <option value='KFWOn7x19RmrO6kzTJYmrQ'>Melanie</option>
                        <option value='yi_4YTVS6XL7s5atKPbmpA'>Joseph</option>
                        <option value='owbC7FP8SNAlwv6f9S5Stw'>Girl</option>
                        <option value='AoII0-uM9z0EesGnb9YCjQ'>Nick</option>
                        <option value='sGIGOFKg_yTd76cDPs6pjA'>Krystal</option>
                    </select>
                    <!-- <input type='hidden' name='test1' value='1'/>
                    <input type='hidden' name='test2' value='2'/>
                    <input type='text' name='test3' id='test3' value='3'/>
                    <input type='text' name='test4' id='test4' value='4'/> -->
                    
                    <button href="/demo/predict" type='submit' id='id_submit'>
                        Get Recommendations
                    </button>
                    <!-- <br/><br/> -->
                    <!-- <a href="/demo/predict" class="button" type="button" onclick="document.getElementsByTagName('form').submit()">
                        Get Recommendations
                    </a> -->
                    <!-- <button type="button" class="button" href="/predicth">
                        Get Recommendations
                    </button> -->
                </form>
            </aside>
        </div>
        <br/>
{% endblock recommend %}