body{
    background-color:rgb(252, 146, 113);
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container {
    width:90%;
    margin:auto;
    overflow:hidden;
}

#choice {
    min-height: 30px;
}

#id_submit {
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */

	background-color:rgb(112, 106, 106);
	color:#fff;
	padding:10px 15px;
    border:0.5px rgb(112, 106, 106) solid;
    border-radius:15px;
    font: inherit;
    text-decoration: none;
}

/* .button{
	background-color:rgb(112, 106, 106);
	color:#fff;
	padding:10px 15px;
    border:0.5px rgb(112, 106, 106) solid;
    border-radius:15px;
    font: inherit;
} */

#id_submit:hover{
	background:rgb(214, 197, 99);
	color:#333;
}

#main-header{
	background-color:rgb(252, 146, 113);
    color:#fff;
    /* display:inline; */
    margin:20px;
}

#main-header h1{
    margin:0;
    padding:0;
    display:inline;
}

#main-header ul{
	/* padding:0;
    list-style: none;
    float:right; */
    display:inline;
    padding: 0 0 2px;
    margin: 0;
    text-align: right;
    float:right;
}

#main-header li{
    display:inline;
    list-style: none;
}

#main-header a{
	color:#fff;
	text-decoration: none;
	font-size:16px;
	padding-right:15px;
}

/* #map, #sidebar {
    display:inline-block;
    vertical-align: top;
    border: 1px dotted blue;
    word-wrap: break-word;
  } */

#map{
    display:inline-block;
    vertical-align: top;
    word-wrap: break-word;
    color:#fff;
    font-size:50px;
    width:70%;
    min-height: 400px;
    border:1px #ccc solid;
    padding:0 30px;
    border-radius:15px;
    box-sizing: border-box;
}

#sidebar{
    /* float:right; */
    display:inline-block;
    vertical-align: top;
    word-wrap: break-word;
    /* width:30%; */
    color:#fff;
    /* padding:10px; */
    box-sizing: border-box;
    /* display:inline; */
}
  
#wrapper {
    text-align: center;
}

select{
    font-size: inherit;
    font: inherit;
    height:40px;
    width:500px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#categories{
    float:right;
    width: 30%;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}


#main-footer{
    width: 100%;
	background: rgb(252, 146, 113);
	color:#fff;
	text-align: center;
	padding:20px;
    margin-top:40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* 
@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
} */